* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --warm-Black: rgba(32, 30, 28, 1);
    --warmer-Black: rgba(40, 38, 35, 1);
    --bitcoin-orange: rgba(247, 147, 26, 1);
    --orange-text: rgba(255, 149, 54, 1);
    --secondary-blue: rgba(26, 154, 247, 1);
    --soft-orange: rgba(255, 233, 212, 1);
    --soft-blue: rgba(231, 245, 255, 1);
    --soft-orange: rgba(255, 233, 212, 1);
    --gray: rgba(117, 117, 117, 1);
    --White: rgba(255, 255, 255, 1);
    --off-White: rgba(250, 248, 247, 1);
    --white-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    --black-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    --linear-BG: linear-gradient(207.8deg, var(--warm-Black) 16.69%, var(--bitcoin-orange) 100%);
}

html {
    scroll-behavior: smooth;
    font-family: 'DM sans', sans-serif;
    font-size: 62.5%;
}


header,
.header__title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img[alt="Batabit logo"] {
        margin-block: 40px 20px;
    }

    h1,
    p {
        text-align: center;
    }

    h1 {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        color: var(--White);
    }

    p {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
        color: var(--soft-orange);
    }
}

header {
    padding: 8px;
    background-image: var(--linear-BG);
}

.header__title-container {
    width: min(90%, 440px);
    gap: 30px;
    position: relative;
    top: 24px;

    a {
        text-decoration: none;
        color: var(--warm-Black);
        padding: 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: var(--White);
        box-shadow: var(--white-shadow);
        width: min(80%, 300px);
        justify-content: center;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;


        span {
            display: flex;
            align-items: center;
        }
    }
}

#tasas__cambio-container {
    background-color: var(--off-White);
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .tasas__bitcoin-img {
        width: 240px;
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    div {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
            color: var(--warm-Black);
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 26px;
            text-align: center;
        }

        p {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 18px;
            text-align: center;
            color: var(--gray);
        }
    }

    #tasas__comisiones-container,
    #tasas__monedas-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h3 {
            color: var(--secondary-blue);
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 100%;
        }

        .comisiones__table {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            background-color: var(--White);
            padding: 1.4rem;
            border-radius: 8px;
            width: 200px;
            align-self: center;

            .comisiones__column {
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    margin: 0;
                    font-size: 1.4rem;
                    color: rgba(181, 176, 172, 1);
                }
            }

            .comisiones__column:last-child p {
                text-align: right;
                color: var(--gray);
                font-weight: 600;
            }
        }


        span.comisiones__updated {
            font-family: Inter;
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            display: inline-block;
            width: 90%;
            background-color: var(--soft-blue);
            padding: 8px 6px;
            border-radius: 8px;
            align-self: center;

            span {
                font-weight: 400;
                font-size: 1.2rem;
            }
        }

    }

    #tasas__monedas-container {
        h3 {
            color: var(--orange-text);
        }

        span.comisiones__updated {
            background-color: var(--soft-orange);
        }

        .comisiones__column:last-child p:after {
            content: url(./assets/icons/trending-down\ 1.svg);
            padding-inline-start: 8px;
        }

        .comisiones__column:last-child p.trending__up:after {
            content: url(./assets/icons/trending-up-1.svg);
            padding-inline-start: 8px;
        }
    }

}