* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --warm-Black: rgba(32, 30, 28, 1);
    --warmer-Black: rgba(40, 38, 35, 1);
    --bitcoin-orange: rgba(247, 147, 26, 1);
    --orange-text: rgba(255, 149, 54, 1);
    --secondary-blue: rgba(26, 154, 247, 1);
    --soft-orange: rgba(255, 233, 212, 1);
    --soft-blue: rgba(231, 245, 255, 1);
    --soft-orange: rgba(255, 233, 212, 1);
    --gray: rgba(117, 117, 117, 1);
    --White: rgba(255, 255, 255, 1);
    --off-White: rgba(250, 248, 247, 1);
    --white-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    --black-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    --linear-BG: linear-gradient(207.8deg, var(--warm-Black) 16.69%, var(--bitcoin-orange) 100%);
}

html {
    scroll-behavior: smooth;
    font-family: 'DM sans', sans-serif;
    font-size: 62.5%;
}

header,
.header__title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img[alt="Batabit logo"] {
        margin-block: 40px 20px;
    }

    h1,
    p {
        text-align: center;
    }

    h1 {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        color: var(--White);
    }

    p {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
        color: var(--soft-orange);
    }
}

header {
    padding: 8px;
    background-image: var(--linear-BG);
}

.header__title-container {
    width: min(90%, 440px);
    gap: 30px;
    position: relative;
    top: 24px;

    a {
        text-decoration: none;
        color: var(--warm-Black);
        padding: 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: var(--White);
        box-shadow: var(--white-shadow);
        width: min(80%, 300px);
        justify-content: center;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;


        span {
            display: flex;
            align-items: center;
        }
    }
}