* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --warm-Black: rgba(32, 30, 28, 1);
    --warmer-Black: rgba(40, 38, 35, 1);
    --bitcoin-orange: rgba(247, 147, 26, 1);
    --orange-text: rgba(255, 149, 54, 1);
    --secondary-blue: rgba(26, 154, 247, 1);
    --soft-orange: rgba(255, 233, 212, 1);
    --soft-blue: rgba(231, 245, 255, 1);
    --soft-orange: rgba(255, 233, 212, 1);
    --gray: rgba(117, 117, 117, 1);
    --White: rgba(255, 255, 255, 1);
    --off-White: rgba(250, 248, 247, 1);
    --white-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    --black-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    --linear-BG: linear-gradient(207.8deg, var(--warm-Black) 16.69%, var(--bitcoin-orange) 100%);
}

html {
    scroll-behavior: smooth;
    font-family: 'DM sans', sans-serif;
    font-size: 62.5%;
}


header,
.header__title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img[alt="Batabit logo"] {
        margin-block: 40px 20px;
    }

    h1,
    p {
        text-align: center;
    }

    h1 {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.6rem;
        letter-spacing: 0%;
        text-align: center;
        color: var(--White);
    }

    p {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        letter-spacing: 0%;
        text-align: center;
        color: var(--soft-orange);
    }
}

header {
    padding: 8px;
    background-image: var(--linear-BG);
}

.header__title-container {
    width: min(90%, 440px);
    gap: 30px;
    position: relative;
    top: 24px;

    a {
        text-decoration: none;
        color: var(--warm-Black);
        padding: 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: var(--White);
        box-shadow: var(--white-shadow);
        width: min(80%, 300px);
        justify-content: center;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;


        span {
            display: flex;
            align-items: center;
        }
    }
}

#tasas__cambio-container {
    background-color: var(--off-White);
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .tasas__bitcoin-img {
        width: 240px;
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    div {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
            color: var(--warm-Black);
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.6rem;
            text-align: center;
        }

        p {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-align: center;
            color: var(--gray);
        }
    }

    #tasas__comisiones-container,
    #tasas__monedas-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h3 {
            color: var(--secondary-blue);
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 100%;
        }

        .main__table {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1px;
            border-radius: 8px;
            width: 204px;
            align-self: center;
            place-items: center;

            .table__column {
                display: flex;
                flex-direction: column;
                gap: 1px;
                width: 100%;

                p {
                    margin: 0;
                    font-size: 1.4rem;
                    color: rgba(181, 176, 172, 1);
                    background-color: var(--White);
                    padding: 8px 6px;
                    text-align: center;
                }

                .up-left {
                    border-radius: 10px 0 0 0;
                }

                .up-right {
                    border-radius: 0 10px 0 0;
                }

                .down-right {
                    border-radius: 0 0 10px 0;
                }

                .down-left {
                    border-radius: 0 0 0 10px;
                }
            }

            .table__column:last-child p {
                color: var(--gray);
                font-weight: 600;
            }
        }


        span.table__updated {
            font-family: Inter;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 100%;
            text-align: center;
            display: inline-block;
            width: 90%;
            background-color: var(--soft-blue);
            padding: 8px 6px;
            border-radius: 8px;
            align-self: center;

            span {
                font-weight: 400;
                font-size: 1.2rem;
            }
        }

    }

    #tasas__monedas-container {
        h3 {
            color: var(--orange-text);
        }

        span.table__updated {
            background-color: var(--soft-orange);
        }

        .table__column:last-child p:after {
            content: url(./assets/icons/trending-down\ 1.svg);
            padding-inline-start: 8px;
        }

        .table__column:last-child p.trending__up:after {
            content: url(./assets/icons/trending-up-1.svg);
            padding-inline-start: 8px;
        }
    }

}

#benefits__container {
    background-color: var(--warm-Black);
    color: var(--White);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 60px 40px;

    img[alt="Batata"] {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -12px;
    }

    .benefits__title-container {
        width: 90%;

        h2 {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.6rem;
            text-align: center;
            margin-bottom: 2rem;
        }

        p {
            font-family: DM Sans;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-align: center;
            color: rgba(128, 128, 128, 1);
        }
    }

    .benefits__cards-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 18px;

        .benefits__card {
            background-color: var(--warmer-Black);
            box-shadow: var(--black-shadow);
            display: flex;
            flex-direction: column;
            padding: 20px 16px;
            gap: 12px;
            border-radius: 4px;

            img {
                width: 24px;
            }

            h3 {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 1.8rem;
            }

            p {
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: rgba(128, 128, 128, 1);
            }
        }
    }
}